# Dependencies
node_modules/

# Output files
tile_metadata.json

# Local assets
tiles/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# macOS system files
.DS_Store

# Optional: editor folders
.vscode/
.idea/